{% extends "base.html" %}

{% block page_title %}Интернет-магазин "Книжная полка"{% endblock %}

{% block page_content %}
    <h3>
        Добро пожаловать в наш интернет-магазин
    </h3>
    <form action="/product">
        <button name="forwardBtn" type="submit">Сделать заказ</button>
    </form>
{% endblock %}
