{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}Список книг{% endblock %}

{% block page_content %}
    <style type="text/css">
    TABLE {
      width: 600px;
      border: 1px solid black;
     }
     TD, TH {
      padding: 3px;
     }
     TH {
      text-align: left;
      background: yellow;
     }
    </style>
    <table cellspacing="0">
        <tr>
            <th>Код</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена, руб</th>
        </tr>
        {% for p in products %}
            <tr>
                <td>{{ p.product_code }}</td>
                <td>{{ p.title }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.price }}</td>
            <tr>
        {% endfor %}
    </table>
    <h3>Заполните форму для заказа</h3>
    {{ wtf.quick_form(form, id="order_add_form") }}
    <input form="order_add_form" type="submit" value="Заказать">
    <h4>
        Ваш запрос будет обработан в течение 3 рабочих дней.
        Пункт выдачи книг расположен по адресу ***
    </h4>

{% endblock %}
